<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<form action="/login-page" method="POST" class="col-6 mx-auto">
			<label for="firstname"><b>Username</b></label>
    			<input type="text" placeholder="username" class="form-control" name="username">

			 <label for="password"><b>Password</b></label>
    			<input type="password" placeholder="password" class="form-control" name="password">
            <button type="submit" class="btn btn-primary">Submit</button>
    	</form>
    </div>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>